
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <% @Pins.each do |pin| %>
      <tr>
        <td><%= pin.name %></td>
        <td><image src="<%= pin.image %>"></td>
        <td><%= pin.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
